

.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* text primary */
.text-primary{
    color: #FD6E0A;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
/* text-button */
.text-btn{
    background-color: #FD6E0A;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: white;
}

nav ul{
    display:flex;
    align-items: center;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin: 51px;
}
nav ul li a{
    text-decoration: none;
}

/* font color */
.dark-2{
    color: #474747;
}
.dark-3{
    color: #474747;
}

.second-back{
   background-color: #FFF8F3;
}

/* banner style */
.banner-grettings{
    font-size: 45px;
    font-weight: 400px;
}
.banner-title{
    font-size: 85px;
    font-weight: 800px;
}
.banner-description{
    font-size: 18px;
    font-weight: 200;
}
.banner-pic{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 100px;
}
.banner-content{
    width: 617px;
    height: 351px;
    margin-left: 134px;
}

/* header */
.head-pic{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right;
}

.section-info{
border-radius: 10px;
margin-top: 130px;
text-align: center;
padding-top: 131px ;
padding-left: 156px;
max-width: 827px;
max-height: 318px;
padding-bottom: 101px;
padding-right: 157px;




}

.section-title{
font-size: 35px;
font-weight: bold;
color: #181818;
text-align: center;



}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}


.section-write{

    font-size: 18px;
    color: #757575;
    text-align: center;
    /* margin-left: 386px 387px; */
}
.title{
    color: #474747;;
}

head{
    max-width: 1600px;
    height: 837px;
}


/* section list */
.sectin-desh{
    font: bold;
    color: black;
}
.section-items{
    display: flex;
    justify-content: space-around;
    padding-left: 25.5px;


}

.section-item{

}
.section-headding{
    
    color: #757575;
    font-family: "Open Sans", sans-serif;
}

.section-des{
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-left: 345px 346px;
    color: #757575; 
    text-align: center;

}
.sections-title{
    text-align: center;
}

/* section skill  */
.section-skill{
    margin-top: 231px;
    

}


 

/* skill container */
.skill-descr{
    color: #757575;
}
.skills-design{
    display: flex;
    gap: 24px;
} 
.skill{
    padding-top: 104px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    height: auto;
    font-weight: 16px
    ;
    line-height: 28px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    

}

main section{
    margin-top:  130px;
    margin-bottom: 170pxpx;
}

/* resume section */
.resume-container{
    display: flex;
    gap: 71px;
}
.resume{
    font-family: "Open Sans", sans-serif;
}
.resume-column{
    font-family: "Open Sans", sans-serif;
}
.experience{
    font-family: "Open Sans", sans-serif;
    max-width: 511px;
    max-height: 175px;
    margin-top: 30px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bolder;
}
.resume-column-title{
    font-size: 25px;
    font-weight: bold;
}
.experience-description{
    font-size: 16px;
    font-weight: 300;
    color: #757575;
}  
.experience-subtitle{
    font-size: 20px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 20px;
}
.resume-title{
    
    
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: #181818;
    text-align: center;
   
    
}
 /* .resume-title{
    font-size: 35px;
font-weight: bold;
color: #181818;
text-align: center;
 } */
  .shazib{
    text-align: center;
    margin-top: 50px;
  }